## Loop in python
##### Loops in Python allow us to execute a block of code multiple times without rewriting it.

##### TYPES OF LOOPS IN PYTHON
     . For loop
     . While loop
     . Nested loop

###### intuition of loops
Here you know how many numbers of iteration you have to go through, like you have to transfer only 4 mugs.

1) So when you know the number of iterations, you will use a ' FOR loop'.

In the second scenario, you do not know how many mugs you need to transfer, but you do know the condition that determines when to stop.

2) So when you do not know how many iterations you have to use, but you know a condition that determines when to stop, you will use a  ' WHILE loop '

## -- For loop__
   ##### -a- for loop with sequence -- str, list, tuple, set,dict.
   ##### -b- for loop with range function

##### _Range function_

Before understanding for loops, you should know how the range function works.

-- The range() function is used to generate a sequence of numbers, which is commonly used in loops.

-- The syntax of the range function is simple range(start, stop, steps).

You have 3 points from where you want to start, till where you want to stop and how many steps you want.

If you do not mention the start point, the default value will be 0.

If you do not mention the steps, the default steps will be 1. you have to mention the stop point otherwise, the range function will not work.


## --Loops for numbers__

For using loops with numbers you need the range function.

The best way to understand is going with an example You have to print numbers from 1-5. we will solve this question using for loop and range function.

In [28]:
for i in range(1,5):  #  i is an iterative variable.
    print (i)

1
2
3
4

In [29]:
for i in range(1,5):  
    print(i, end=" ")

1 2 3 4

## --Loops for strings__


##### Loops for strings work slightly differently. You can iterate through a string in two ways:

          a. Using Index values.

          b. Iterating directly over the string.

##### 1. Iteration using the index value

In [30]:
a ="Nature"

for i in range(len(a)):
     print(a[i])

N
a
t
u
r
e

##### 2. Second way is simpler we can directly Iterate but using this method will give you the direct access to the characters Instead of index values.

In [31]:

a= "Nature"

for char in a:
     print(char)

N
a
t
u
r
e

In [32]:
name = "Rohit"

In [33]:
print(name)
len(name)

Rohit

5

In [34]:
for i in enumerate(name):   # enumerate use to give a position with character 
    print (i)

(0, 'R')
(1, 'o')
(2, 'h')
(3, 'i')
(4, 't')

In [35]:
fruit=['apple', 'banana', 'mango', 'grapes', 'pineapple']
print(fruit)
print(fruit[2][3])
print(len(fruit))

['apple', 'banana', 'mango', 'grapes', 'pineapple']
g
5

In [36]:
for i in enumerate(fruit):
    print(i)

(0, 'apple')
(1, 'banana')
(2, 'mango')
(3, 'grapes')
(4, 'pineapple')

Initialization
condition
incrementation/decrementation
range (start value, stop value, step size)

In [37]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [38]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [39]:
for i in range(1,11,1):
    print(i**i)

1
4
27
256
3125
46656
823543
16777216
387420489
10000000000

In [40]:
for i in range(1,11):
    print(i, name[ ::-1]) # print in reverse manner

1 tihoR
2 tihoR
3 tihoR
4 tihoR
5 tihoR
6 tihoR
7 tihoR
8 tihoR
9 tihoR
10 tihoR

In [41]:
name ="Rohit" 
s=len(name)
for i in range(0,s,2):
    print(i, name[i])

0 R
2 h
4 t

In [42]:
name ="Rohit" 
for i in range(0,len(name)):
    print(i, name[i])

0 R
1 o
2 h
3 i
4 t

In [43]:
# Write a program to print even numbers 

for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [44]:
# Write a program to print odd numbers

for i in range(2,21):
    if i%2==1:
      print(i)

3
5
7
9
11
13
15
17
19

In [45]:
# Write a program to print odd numbers

for i in range(1,21):
    if i%2==0:
      print(i,"= Even number")
    elif i%2==1:
        print(i,"= odd number")

1 = odd number
2 = Even number
3 = odd number
4 = Even number
5 = odd number
6 = Even number
7 = odd number
8 = Even number
9 = odd number
10 = Even number
11 = odd number
12 = Even number
13 = odd number
14 = Even number
15 = odd number
16 = Even number
17 = odd number
18 = Even number
19 = odd number
20 = Even number

In [1]:
user=int(input("  "))
for i in range(1,11):
    print(user,"*",i ,"=", (i*user))

   5

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

##### print a factorial of a number

In [2]:
user=int(input("  "))
def factorial(x):
   if x==0:
       return 1
   else :
       return x * factorial (x-1)
print(factorial(user))

   5

120

##### Q. sum of a number

In [19]:
s=0
for i in range(1,6):
    s = s + i
    print(s)
print(s)

1
3
6
10
15
15

##### Q. # write a program to print the sum of 1-5 numbers

In [5]:
sum=0
for i in range(1,6):
    sum = sum + i ;
print(sum)

15

##### Q. Write a program to print the sum of n natural numbers

In [7]:
n=int(input(  ))
sum=0
for i in range(1,n+1):
    sum=sum +i
print(sum)

 6

21

##### Q. Write a program to count the number of odd numbers from 1 to 30
##### Q. Write a program to count the number of even numbers from 1 to 30

In [25]:
even_count=0
odd_count=0

for i in  range(1,31):
    if i%2==0:
        even_count=even_count+1
    else:
        odd_count=odd_count+1
        
print("even_count is ", even_count)  
print("odd_count is ", odd_count)

even_count is  15
odd_count is  15

or

In [26]:
n=int(input( "enter the num " ))
even_count=0
odd_count=0

for i in  range(1,n+1):
    if i%2==0:
        even_count=even_count+1
    else:
        odd_count=odd_count+1
        
print("even_count is ", even_count)  
print("odd_count is", odd_count)

enter the num  39

even_count is  19
odd_count is 20

or

In [10]:
count=0
for i in  range(1,31,2):
    count=count+1
print(count)

15

or

In [11]:
count=0
for i in  range(1,31,1):
        count=(count+1)
print(count/2)

15.0

or

In [22]:
n=int(input( ))
count=0
ecount=0
for i in  range(1,n+1):
    if i%2==1:
        count=count+1
    else:
        if i %2==0:
           ecount= ecount +1
        
print("odd num = ",count, "\neven num = ", ecount)

 7

odd num =  4
even num =  3

## Print a natural number in reverse

In [14]:
y=input(" Enter the value")
for i in y:
    u= y[::-1]
    print(u)
    break

 Enter the value 43wsd

dsw34

or

In [12]:
y=input(" Enter the value")
u= y[::-1]
print(u)

 Enter the value 4543wsdfdsa

asdfdsw3454

## __Break, Continue, Pass__

##### Break : break statment is used to exit a loop parmamentaly when a certain condition is certified.

##### Continue : it is  used to skip one of the iterations and the rest of the iterations will be iterated (run) till the last.

##### Pass: It is working as a null opration in python

In [27]:
for i in range (1,100,1):
    if i ==20:
        break
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [31]:
for i in range (1,25,1):
    if i ==20:
        continue
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
21
22
23
24

In [33]:
for i in range (1,10,1):
    if i ==5:
        pass  # working as a null operation 
    print(i)

1
2
3
4
5
6
7
8
9